
<section id="newsletter">
    <div class="container">
        <h1>Subscreve a nossa newsletter</h1>
        <form action="@Url.Action("Subscribe", "Home")" method="post">
            <input type="email" name="email" placeholder="Coloque o email..." />
            <button type="submit" class="button_1">Subscrever</button>
        </form>
    </div>
</section>