<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description"
          content="desenvolvimento de jogos e realidade virtual" />
    <meta name="Keywords"
          content="realidade virtual, criamos jogos, desenvolvemos jogos" />
    <title>Global Games | Welcome</title>
    <link rel="stylesheet" href="@Url.Content("~/css/styles.css")" />
</head>
<body>
    <section id="showcase">
        <div class="container">
            <h1>A melhor plataforma de realidade virtual</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                facilisis lectus at sapien dapibus facilisis. Ut maximus nunc urna,
                non congue diam mattis ut. Fusce eros leo, pulvinar ut ultrices non,
                aliquam nec quam. Integer gravida ut mauris ac ultrices. Phasellus
                iaculis elementum condimentum.
            </p>
        </div>
    </section>

    <partial name="_Newsletter" />

    <section id="boxes">
        <div class="container">
            <div class="box">
                <img src="@Url.Content("~/images/logo_html.png")" />
                <h3>Jogos Unity</h3>
                <p>
                    Com a Unity Technologies desenvolvemos jogos e aplicativos 2D, 3D,
                    VR e AR
                </p>
            </div>

            <div class="box">
                <img src="@Url.Content("~/images/logo_css.png")" />
                <h3>Unreal Engine</h3>
                <p>
                    Desenvolvemos aplicativos corporativos, experiências
                    cinematográficas e jogos.
                </p>
            </div>

            <div class="box">
                <img src="@Url.Content("~/images/logo_brush.png")" />
                <h3>Personagens</h3>
                <p>
                    Fazemos as melhores personagens de última geração para videojogos.
                </p>
            </div>
        </div>
    </section>
</body>
</html>
